In [18]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [19]:
df = pd.read_csv("TeleChurnData.csv")

In [20]:
print("Described Column length: ", len(df.describe().columns))
df.describe()

Described Column length:  17

,AccountLength,AreaCode,PhoneNumber,NumEmailMessages,TotalMorMin,TotalMorCalls,TotalMorCharge,TotalEveMin,TotalEveCalls,TotalEveCharge,TotalNightMin,TotalNightCalls,TotalNightCharge,TotalIntMinutes,TotalIntCalls,TotalIntCharge,CustomerServiceCalls
count,3833.000000,3833.000000,3.833000e+03,3833.000000,3803.000000,3833.000000,3833.000000,3822.000000,3833.000000,3833.000000,3815.000000,3833.000000,3833.000000,3833.000000,3833.000000,3833.000000,3833.000000
mean,100.697626,437.447691,3.746407e+06,8.227759,180.078517,100.360292,30.614456,200.685924,100.124446,17.057782,200.644325,100.216280,9.029924,10.241247,4.495173,2.765656,1.559875
std,39.872358,42.506606,2.758814e+05,13.724437,54.664611,20.055868,9.292341,51.180629,19.930592,4.346913,50.792405,19.542829,2.282705,2.800544,2.476095,0.756138,1.319766
min,1.000000,408.000000,3.271058e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,73.000000,415.000000,3.506473e+06,0.000000,144.000000,87.000000,24.480000,165.800000,87.000000,14.090000,166.900000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,100.000000,415.000000,3.749107e+06,0.000000,179.900000,101.000000,30.600000,201.000000,101.000000,17.090000,200.900000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,3.988385e+06,20.000000,216.650000,114.000000,36.820000,235.300000,114.000000,20.000000,235.250000,114.000000,10.580000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,4.229964e+06,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

### Observations:
- Add the Observations from the above table.

In [21]:
df.info(verbose=True, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3833 entries, 0 to 3832
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State                 3833 non-null   object
 1   AccountLength         3833 non-null   int64
 2   AreaCode              3833 non-null   int64
 3   PhoneNumber           3833 non-null   int64
 4   InternationalPlan?    3833 non-null   object
 5   VoiceMailPlan?        3833 non-null   object
 6   NumEmailMessages      3833 non-null   int64
 7   TotalMorMin           3803 non-null   float64
 8   TotalMorCalls         3833 non-null   int64
 9   TotalMorCharge        3833 non-null   float64
 10  TotalEveMin           3822 non-null   float64
 11  TotalEveCalls         3833 non-null   int64
 12  TotalEveCharge        3833 non-null   float64
 13  TotalNightMin         3815 non-null   float64
 14  TotalNightCalls       3833 non-null   int64
 15  TotalNightCharge      3833 non-null   float64
 16  TotalIntMinutes       3833 non-null   float64
 17  TotalIntCalls         3833 non-null   int64
 18  TotalIntCharge        3833 non-null   float64
 19  CustomerServiceCalls  3833 non-null   int64
 20  Churn?                3833 non-null   bool
dtypes: bool(1), float64(8), int64(9), object(3)
memory usage: 1.1 MB

In [23]:
### Profiling is run here.
# find the number of Duplicated Rows in the dataset
len(df[df.duplicated()])

500

In [25]:
# Remove the duplicated rows in the dataframe
df_updated = df[df.duplicated()==False]
len(df_updated)

3333